POSTGRES_DB=aster
POSTGRES_USER=aster
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
API_PORT=8000
WEB_PORT=3000
ASTER_API_INTERNAL_URL=http://api:8000
NEXT_PUBLIC_ASTER_API_URL=http://localhost:8000
